body {
    min-height: 100vh;
}

.form-control:focus {
    box-shadow: none!important;
    border-color: #6c757d!important;
}

.btn:focus,
.btn-outline-secondary:focus {
    box-shadow: none!important;
}


#addFolderButton, 
#addItemButton {
    width: 115px;
}

.item, 
.folder {
    border: 1px solid #6c757d;
    border-radius: 4px;
}

.item .icon,
.folder .icon {
    width: 40px;
    height: 40px;
    background-color: #ddd;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}